<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" value="{{ this.first_name }}" required>
        <label for="first_name">First Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="last_name" placeholder="Last name" name="last_name" value="{{ this.last_name }}" required>
        <label for="last_name">Last Name</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="john@doe.com" name="email" value="{{ this.email }}" required>
        <label for="email">Email</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone" value="{{ this.phone }}" required>
        <label for="phone">Phone</label>
    </div>
</div>

{{#if status}}
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="product" placeholder="Product name" name="product" value="{{ this.product }}">
            <label for="product">Product</label>
        </div>
    </div>
{{/if}}

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="source_info" placeholder="Source information" name="source_info" value="{{ this.source_info }}">
            <label for="source_info">Source information</label>
        </div>
    </div>
{{#if status}}
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="status" placeholder="Status" name="status" value="{{ this.status }}">
            <label for="status">Status</label>
        </div>
    </div>

    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="manager" placeholder="Manager" name="manager" value="{{ this.manager }}">
            <label for="manager">Manager</label>
        </div>
    </div>
{{/if}}
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="occupation" placeholder="Occupation" name="occupation" style="height: 200px;">{{ this.occupation }}</textarea>
            <label for="occupation">Occupation</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="add_info" placeholder="Additional information" name="add_info" style="height: 200px;">{{ this.add_info }}</textarea>
            <label for="add_info">Additional information</label>
        </div>
    </div>
{{#if status}}
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="interaction_level" placeholder="Interaction level" name="interaction_level" style="height: 200px;">{{ this.interaction_level }}</textarea>
            <label for="interaction_level">Interaction level</label>
        </div>
    </div>

    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control" id="comments" placeholder="Comments" name="comments" style="height: 200px;">{{ this.comments }}</textarea>
            <label for="comments">Comments</label>
        </div>
    </div>
{{/if}}
<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
</div>